*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --padding: 40px 0;
    --btnpadding: 15px 70px;
    --loccolor: #FFB30E;
    --btnbackgroundcolor: #F17228;
}

nav{
    border-radius:0 0 15px 15px;
    animation: header 0.6s forwards linear alternate;
}
@keyframes header{
    0%{
        transform: scale(0.5);
      
    }
    100%{
        transform: scale(1.0);
        ;
    }
}
.container{
    width: 1920px;
    
}
.nav_wrap{
    padding: 16px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_fr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_loc{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.food_search{
    position: relative;
}
input{
    width: 200px;
    border:none;
    border-radius: 20px;
    padding: 6px 25px;
   /*  box-shadow: grey 1px 0 4px; */
}
.nav_img{
    position: absolute;
    left: 3px;
    top:3px
}
.log_in{
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    color: #FFB800;
    display: flex;
    gap: 7px;
    box-shadow: #FFB800 1px 3px 7px;
    cursor: pointer;
}
.hero{
    background-color: #FFB800;
}
.hero_wrap{
    display: flex;
    text-align: center;
   
    
    
}

h1{
    margin-top: 50px;
    font-size:88px ;
    color: antiquewhite;
}
.set_info{
    
    color: rgb(68, 66, 66);
}
.hero_info{
    margin-left: 220px;
    width: 856px;
    padding-left: 0;
}
.hero_id {
    color: grey;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}
.order_type{
    padding: 24px;
    display: flex;
    gap: 8px;
}
.hero_delivery{
    width: 148px;
    height: 38px;
    background-color: #F172281A;
    cursor: pointer;
}
.hero_delivery1{
    width: 148px;
    height: 38px;
    cursor: pointer;
    
}
.address_h{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 808px;
    padding: 24px;
    position: relative;
}
.add_custom{
    width: 593px;
    height: 49px;
    background-color: #F5F5F5;
    padding-left: 40px;
    border-radius: 10px;
   
}
.img_search{
    position: absolute;
    left: 40px;
    top:48px
}
.hero_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 21px 48px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, #FF7A7A, #F65900);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.discount_m{
    background-color: white;
    padding-bottom: 80px;
}
.discount_wrap{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.discount_card{
    width: 357px;
    height: 415px;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease;
    transform-origin: center;
}
.discount_card:hover{
    transform: scale(1.05);
    box-shadow: black, 1px 3px 10px;
}
.discount_pic{
    border-radius: 20px;
}
.dis_tag{
    position: absolute;
    display: flex;
    left: 0px;
    top:218px;
    background-color: #FFB30E;
    padding: 3px 15px;
    border-radius: 0 20px 0 20px;
}
h3{
    font-size: 68px;
}
.per_unit{
    font-size: 35px;
}
.per_dir{
    font-size: 22px;
}
.salade_name{
    margin-top: 35px;
    font-size: 22px;
    font-weight: 700;
}
.validity{
    width: 205px;
    color: #F17228;
    background-color: #F1722833;
    padding: 5px 40px;
    margin-top: 15px;
    border-radius: 10px;
}
.instruction{
    background: linear-gradient(to bottom, #f8db9c, #FDEDCA00);
    text-align: center;
}
.inst_wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 40px 220px;
}
.inst_title{
    font-size: 43px;
    font-weight: 700;
}
h2{
    padding-top: 40px;
}
h4{
    font-size: 22px;
    font-weight: 700;
}

.popular_wrap{
    padding:var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.popular_title{
    padding-top: 40px;
   text-align: center;
   font-size: 43px;
   
}
.popular_card{
    width: 284px;
    transition: 0.2s ease-in-out;
}
.popular_card:hover{
    transform: scale(1.05);
}
.popular_btn{
    padding:var(--btnpadding);
    background-color: var(--btnbackgroundcolor);
    width: 100%;
    border:none;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 10px;
}
.pop_loc{
    color: var(--loccolor);
    font-size: 22px;
    margin-top: 10px;
}
.popular_price{
    font-size: 22px;
    margin-top: 10px;
}
h5{
    font-size: 22px;
    margin-top: 10px;
}
.rest{
    padding: 40px 220px;
}
.rest_card{
    width: 357px;
    border-radius: 15px;
    position: relative;
}
.rest_img{
    border-radius: 15px;
}
.rest_wrap{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.rest_disc{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
}
.hero_delivery2{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
    padding: 7px 15px;
    background-color: #F17228;
    color: #F5F5F5;
    border-radius: 15px;
}
.hero_delivery3{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
    padding: 7px 15px;
    background-color: #FFB30E;
    color: #F5F5F5;
    border-radius: 15px;
    
}
.rest_brand{
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center;
}
.rest_name{
    font-size: 22px;
}
.rest_rating{
    font-size: 22px;
    color: var(--btnbackgroundcolor);
}
.rest_status{
    background-color: #F1722833;
    color: #F17228;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 35px;
}
.rest_statusopen{
    background-color: #79B93C33;
    color: #79B93C;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 35px;
}
.rest_more{
    padding: 15px 40px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #FFBA26, #FF9A0E);
    font-size: 18px;
    color: white;
    display: block;
    margin: 0 auto;
    box-shadow: 0 5px 15px #F17228;
    cursor: pointer;
}
